[submodule "duper"]
	path = duper
	url = https://github.com/leanprover-community/duper.git
[submodule "quote4"]
	path = quote4
	url = https://github.com/leanprover-community/quote4.git
[submodule "repl"]
	path = repl
	url = https://github.com/leanprover-community/repl.git
